body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.downloads {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.download-link {
    margin-bottom: 20px;
    cursor: pointer;
}

.file-name {
    color: #333;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.input-container {
    display: none;
}

.copy-button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
